.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  .elementsDisplayContainer {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
}
